.button {
  padding: 5px;
  min-height: 40px;
  min-width: 300px;
  border-radius: 50px;
  background-color: $light-blue;
  border: 2px solid $white;
  color: $white;
  text-shadow: 0 0 5px $black;
  cursor: pointer;

  &__text {
    font-size: 1.5rem;
  }

  &__subtext {
    font-size: 0.9rem;
    margin-top: 5px;
  }

  &:focus {
    outline: none;
  }

  @media screen and (min-width: $breakpoint-m) {
    max-width: 400px;
  }

  @media (min-width: $breakpoint-l) {
    max-width: 500px;

    &__text {
      font-size: 1.8rem;
    }

    &__subtext {
      font-size: 1.1rem;
    }

    &:hover {
      box-shadow: 0 12px 16px 0 $box-shadow-blue, 0 17px 50px 0 $box-shadow-blue;
    }
  }
}
