.counter {
  border: 1px solid $yellow-counter;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__questions,
  &__correct {
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: $white-text;

    &-description {
      font-size: 0.7rem;
    }

    &-content {
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }
}
