.rejected {
  display: flex;
  flex-direction: column;
  border: 1px solid $light-blue;
  border-radius: 5px;
  padding: 30px 10px;
  padding-bottom: 40px;

  &__text1,
  &__text2 {
    color: $white-text;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 2px;
  }

  &__text2 {
    margin-top: 30px;
  }

  &__button {
    font-size: 1.3rem;
    margin-top: 100px;
  }
}
