@import './scss/variables';

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

// common
@import '../components/Button/Button.scss';
