@import './scss/variables';

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: $black-background;
}

// common components
@import '../components/Button/Button.scss';
@import '../components/Footer/Footer.scss';
