// breakpoints
$breakpoint-s: 320px;
$breakpoint-m: 768px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1440px;

// colors
$black-background: #282c34;
$white-background: #ecf5ff;
$black: #000000;
$white: #ffffff;
$white-text: #f5f5f5;
$light-blue: #56a5eb;
$box-shadow-blue: rgba(86, 185, 235, 0.5);
$green-answer: #28a745;
$red-answer: #dc3545;
$yellow-counter: #fffb14;
$silver-footer: #7a7a7a;
